<div class="container ">
    <div class="row justify-content-center mt-4">
        <div class="col-md-6 col-sm-12">
            <h3 class="text-center">SIGN IN</h3>
            <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username Or Email *</label>
                    <input type="text" class="form-control" id="usernameOrEmail" placeholder="Enter Username Or Email" formControlName="usernameOrEmail">
                </div>
                <div class="form-group">
                    <label for="Password">Password *</label>
                    <input type="password" class="form-control" id="Password" placeholder="Password" formControlName="password">
                </div>
                <div class="text-danger" *ngIf="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="signInForm.invalid">Submit</button>
            </form>
        </div>
    </div>
</div>