<div class="container ">
    <div class="row justify-content-center mt-4">
        <div class="col-md-6 col-sm-12">
            <h3 class="text-center">SIGN UP</h3>
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="exampleInputEmail1">Full name *</label>
                    <input type="text" class="form-control" id="fullName" placeholder="Enter full name" formControlName="fullname">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Username *</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username" formControlName="username">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address *</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="example@gmail.com" formControlName="email"></div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password *</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" aria-describedby="passwordHelp" placeholder="Password" formControlName="password">
                    <small id="passwordHelp" class="form-text text-muted">au moins un lettre majiscule suivi d'une lettre miniscule suivi d'un chiffre</small>
                </div>
                <div class="text-danger" *ngIf="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="signUpForm.invalid">Submit</button>
            </form>
        </div>
    </div>
</div>