<nav class="navbar navbar-expand-sm bg-primary navbar-dark mb-3">
    <div class="navbar-header">
        <a class="navbar-brand" routerLink="dashbord">Delivery Management</a>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="dashbord">Dashbord</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="stock">Stock</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="orders">Orders</a>
        </li>
    </ul>
    <ul class="navbar-nav auth-right">
        <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
            <a class="nav-link" routerLink="auth/signup"><i class="fas fa-user-plus"></i> Register</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
            <a class="nav-link" routerLink="auth/signin"><i class="fas fa-sign-in-alt"></i> Login</a>
        </li>
        <li class="nav-item active" *ngIf="isAuth">
            <a class="nav-link" (click)="onSignOut()"><i class="fas fa-sign-out-alt"></i>Log Out</a>
        </li>
    </ul>
</nav>